/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html, body, .row {
	height: 100%;
	font-family: 'Helvetica', cursive;
}

body {
	overflow: hidden;
}

h1 {
	font-family: 'Ubuntu', 'Droid Sans', sans-serif;
	display: inline;
}

h1 .A {
	color:#417FCF;
	text-shadow:#2D6BBB 1px 1px 0px;
}

h1 .B {
	color:#A741DB;
	text-shadow:#932DC7 1px 1px 0px;
}

h1 .C {
	color:#38D450;
	text-shadow:#24C03C 1px 1px 0px;
}

h4 {
	display: inline;
	font-size: 1.2em;
	margin-left:0.2em;
}

body {
	background:url(../images/first_aid_kit_@2X.png);
	background-size: 99px 99px;
}

footer {
	background-color:rgba(255, 255, 255, 0.95);
	box-shadow: 0 -1px 1px #ccc;
	z-index: 10000;
	position:absolute;
	width:100%;
	bottom:0;
}

textarea {
	opacity:1;
	position:fixed;
	z-index:-1000;
	height:0;
	width: 0;
	top:0;
	left:-500px;
}

#currentLetter {
	font-family: 'Ubuntu', 'Droid Sans', sans-serif;
	font-weight: bold;
	position:relative;
	top:0.2em;
	font-size: 300pt;
	text-align: center;
	z-index:-10;

	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;

	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


